doctype html
html(lang="en")
  head
    title Slide with guy
    meta(charset='UTF-8')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/man.css')
    script(src="js/script.js")
    script(src="js/jquery.min.js")
  body
    .container
      .people

      .meter
        .point
         p.count 0
